/**
 * @group Variables.
 */
:root {
    --main-color: #FFF;
    --accent-color: #D02D54;
}

/**
 * @group Reset.
 */
html,
body,
ul,
ol,
figure {
    margin: 0;
    border: none;
    padding: 0;
    list-style-type: none;
}

/**
 * @group Typography.
 */
@font-face {
    font-family: "ModernSans Light";
    src: url("../fonts/ModernSans-Light.otf") format("opentype");
}

body {
    background: #000;
    color: var(--main-color);
    font: 24px/2rem "ModernSans Light", Arial;
}

h2 {
    margin: 1rem 0 0 0;
}

a {
    color: inherit;
    transition: color .5s;
}
a:hover {
    color: var(--accent-color);
    text-decoration: underline;
}
.icon {
    width: 1em;
}
.icon.calendar {
    filter: invert(100%);
}

#Masthead,
#MainContent,
#MainFooter {
    max-width: 760px;
    margin: 0 auto;
}
#Masthead {
    display: flex;
    padding: 30px 10px 5px 10px;
    border-bottom: 1px solid var(--accent-color);
}
#Masthead h1 {
    width: 322px;
    margin: 0;
}
#Masthead img {
    max-width: 100%;
}
#Masthead img:hover {
    filter: hue-rotate(360deg);
    transition: filter 2s;
}
#MainNavigation {
    flex-grow: 1;
    align-self: end;
}
#MainNavigation ul {
    display: flex;
    justify-content: right;
}
#MainNavigation li {
    margin: 0 0 10px 20px;
    font-size: 36px;
}
#MainNavigation a {
    text-decoration: none;
}
#MainNavigation .current {
    color: var(--accent-color);
}

#MainFooter {
    border-top: 1px solid var(--accent-color);
    font-size: 14px;
    text-align: center;
}
#MainFooter .u-photo,
#MainFooter .u-email {
    display: none;
}

#home-page main,
#home-page #MainFooter {
    display: none;
}
#home-page #Masthead {
    display: block;
    margin: 100px auto;
    border: none;
}
#home-page #Masthead h1 {
    width: auto;
}
#home-page #MainNavigation li {
    flex-grow: 1;
    font-size: 34pt;
    text-align: center;
    margin: 30px 0 0 0;
}
#home-page #MainNavigation li:first-child {
    text-align: left;
}
#home-page #MainNavigation li:last-child {
    text-align: right;
}

/**
 * @group Microformats and structured data.
 */
.h-card .p-name {
    line-height: 2em;
}
.h-card .u-photo {
    height: 2em;
    border-radius: 50%;
    vertical-align: middle;
}
.h-adr .p-country {
    display: none;
}

.h-events > li {
    margin-bottom: 5rem;
}

.h-event {
    clear: left;
    font-size: smaller;
}
.h-event img[itemprop="image"] {
    float: left;
    width: 300px;
}
.h-event header h2,
.h-event header ul,
.h-event section,
.h-event footer {
    margin-left: 330px;
}
.h-event .p-street-address {
    display: block;
}
.h-event .p-locality::after {
    content: ", ";
}
.h-event .event-datetime abbr {
    text-decoration: none;
}
.h-event .dt-end span:first-child,
.h-event .p-location img,
.h-event .event-status,
.h-event .organizers .h-card .u-photo,
.h-event .organizers .h-card .adr {
    display: none;
}
.h-event .organizers div,
.h-event .organizers li {
    display: inline-block;
}
.h-event .organizers ul > li:not(:last-child)::after {
    content: ", ";
}
.h-event .organizers ul > li:last-child::before {
    content: "and ";
}
.h-event section {
    clear: left;
}
.h-event footer {
    margin: 1rem 0;
}

/* Single event page. */
body.events .h-event img[itemprop="image"] {
    float: none;
    width: 100%;
}
body.events .h-event header h2,
body.events .h-event header ul,
body.events .h-event section,
body.events .h-event footer {
    margin-left: 0;
}

/**
 * @group Mobile styles.
 *
 * Put small-screen styles here.
 */
@media screen and (max-width: 500px) {
    #home-page #Masthead {
        margin-top: 20px;
    }
    #home-page #Masthead ul {
        flex-direction: column;
    }
    #home-page #MainNavigation li:first-child,
    #home-page #MainNavigation li:last-child {
        text-align: center;
    }

    body:not(#home-page) #Masthead {
        display: block;
    }
    body:not(#home-page) #Masthead h1 {
        width: auto;
    }
    body:not(#home-page) #MainNavigation::before {
        content: "\2630";
        position: absolute;
        top: 5px;
        right: 10px;
        color: var(--main-color);
        font-size: 36px;
        line-height: 1em;
        cursor: pointer;
    }
    body:not(#home-page) #MainNavigation ul {
        display: block;
        margin-top: 2rem;
        max-height: 0;
        overflow: hidden;
        transition: max-height 1s;
    }
    body:not(#home-page) #MainNavigation:hover ul {
        max-height: 75vh;
        transition: max-height 1s;
    }
    body:not(#home-page) #MainNavigation li {
        display: list-item;
        margin-left: 0;
        line-height: 1.5em;
        text-align: center;
    }
    #MainContent {
        padding: 0 1em;
    }
    .h-event img[itemprop="image"] {
        float: none;
        width: 100%;
    }
    .h-event header h2,
    .h-event header ul,
    .h-event section,
    .h-event footer {
        margin-left: 0;
    }
}
